# IDE and editor specific files
.vscode/
.idea/

# Operating system files
.DS_Store

# Go build files
*.out

# Compiled binary
gogurt

# Environment file
.env

# Local documents directory
docs/

# Specific files
docs.txt
*.pdf